<div id="person-details">
  <% if details %>
    <table class="table table-warning table-hover table-striped-columns">
      <% details.each do |attr, value| %>
        <%= filter_non_empty_attributes(attr, value) %>
      <% end %>
    </table>
  <% else %>
    <p class="text-danger">No details found.</p>
  <% end %>
</div>
