<div class="container">
  <div class="people-list row">
    <div class="col-sm-6 col-md-6 offset-lg-1 col-lg-4">
      <table class="table table-bordered rounded table-striped align-middle col-sm-3 text-body-secondary">
        <caption><%= @people.size %> People</caption>
        <thead>
        <th>#</th>
        <th>Name</th>
        </thead>
        <% @people.each_with_index do |person, index| %>
          <tr>
            <td  class="text-center text-body-secondary"><%= index+1 %></td>
            <td class="clearfix">
              <%= turbo_frame_tag person do %>
                <%= render partial: 'person', locals: { person: person } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div id="person_details"></div>
    </div>
  </div>

</div>